body {
    font-family: 'Taylor Sans', sans-serif;
    font-weight: 600;
    background-color: rgb(228, 228, 228);
  }

#logo{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 60px;
    line-height: 60px;
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 40px;
    z-index: 3;
    text-align: center;
    border-right: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    /* padding: 10px 0; */
}

main{
    margin-left: 250px;
    margin-top: 65px;
}

footer{
    position: absolute;
    bottom: 0;
    margin-left: 250px;
    padding: 10px;
}

.topnav {
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0c71f5;
    overflow-y: hidden;
    padding-left: 260px;
    color: #ddd;
}

.topnav h2 {
    left: 200px;
    font-weight: 600;
}

.sidenav {
height: 100%;
width: 250px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #0c71f5;
overflow-x: hidden;
padding-top: 80px;
}

.sidenav a {
padding: 15px 8px 8px 32px;
text-decoration: none;
font-size: 20px;
color: #ddd;
display: block;
}

.sidenav a:hover {
color: #c9c9c9;
}

.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

.subNav{
    padding: 0px 8px 8px 42px;
    height: auto;
    overflow: hidden;
    display: block;
}

.subNav a {
    cursor: pointer;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}