<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        <link href="http://fonts.cdnfonts.com/css/taylor-sans" rel="stylesheet">

        <title>Speechy - Oliver Smith</title>
    </head>
    <body>
        <div id="myTopnav" class="topnav">
            <h2>Speechy</h2>
        </div>
        <div id="mySidenav" class="sidenav">
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>
        </div>
        <main>
        {% block main %}
        
        {% endblock %}
        </main>
    </body>
    <footer>Oliver Smith 2021 ©</footer>
</html>