
    {% for post in posts %}
    {% if post.title == 'Valorant Go Knife' %}
        <h1>{{ post.title }}</h1>
        {% for element in post %}
            {% if element == 'h1' %}
                <h1>{{ post[element] }}</h1>
            {% endif %}
            {% if element == 'h2' %}
                <h2>{{ post[element] }}</h2>
            {% endif %}
            {% if element == 'p' %}
                <p>{{ post[element] }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endfor %}
